//- Remove plant
extends layout
block append content
    body#removeBG
    h4.display-4.text-center #{message}
    br
    .row
        each p in plant
            .col-md-3.plantDeco
                |Name:&nbsp;#{p.plantName}
                br
                |Nickname:&nbsp;#{p.plantNickname}
                br
                |Lighting:&nbsp;#{p.plantLight}
                br
                |Repotting Schedule:&nbsp;#{p.repotSch}
                br
                |Watering Schedule:&nbsp;#{p.waterSch}
                br
                br
    hr
    .row
        .col
            form(action='/removedPlant' method='post').form-group
                h6.text-center Enter plant name to remove:
                input(type='text' name='removePlant' required).form-control
                br
                input(type='submit' value='Remove Plant').form-control.btn.btn-success
    .text-right
        a(href='/adminWelcome') Back